.ce-router {
    /* clear fix */
    .grid:after {
        content: '';
        display: block;
        clear: both;
    }
    .grid-item,
    .grid-sizer {
        width: 20%;
    }
    .grid-item {
        float: left;
        padding: 10px;
        header {
            text-align: center;
            text-transform: uppercase;
            font-family: $font-family-dekka;
            font-size: $font-size-m;
            margin-top: 10px;
            margin-bottom: 15px;
            line-height: 1.15em;
            word-break: break-word;
            span {
                display: block;
            }
        }
        img {
            width: 100%;
        }
    }
    .grid-item--width2 {
        width: 40%;
        header {
            font-size: $font-size-l;
        }
    }
    .filter {
        border-bottom: 1px solid #FFFFFF;
        margin: 15px 0;
        .icon-filter {
            fill: #FFFFFF;
        }
        a.open-filter {
            font-size: 14px;
        }
        .menu {
            background-color: #FFFFFF;
            position: relative;
            font-size: 18px;
            ul .icon {
                height: 22px;
                width: 22px;
            }
            >div {
                padding: 15px;
            }
            .triangle {
                position: absolute;
                top: 0;
                left: 36px;
                width: 0px;
                height: 0px;
                border-style: solid;
                border-width: 10px 10px 0 10px;
                border-color: $bg-grey transparent transparent transparent;
            }
        }
    }
}

@media(max-width:767px) {
    .ce-router {
        .grid-sizer,
        .grid-item {
            width: 50%;
            header {
                font-size: $font-size-m;
            }
        }
        .grid-item--width2 {
            width: 100%;
            header {
                font-size: $font-size-l;
            }
        }
    }
}

@media(min-width:768px) {
    .ce-router {
        .grid-sizer,
        .grid-item {
            width: 33.33%;
        }
        .grid-item--width2 {
            width: 66.66%;
        }
    }
}

@media(min-width:992px) {
    .ce-router {
        .grid-sizer,
        .grid-item {
            width: 25%;
        }
        .grid-item--width2 {
            width: 50%;
        }
    }
}

@media(min-width:1200px) {
    .ce-router {
        .grid-sizer,
        .grid-item {
            width: 16.66%;
        }
        .grid-item--width2 {
            width: 33.33%;
        }
    }
}

.ce-router.ce-router-small {
    .grid-item,
    .grid-sizer {
        width: 50%;
    }
    .grid-item--width2 {
            width: 100%;
    }
}